<html>
	<head>
		<title>
			Tecnologia Educacional Móbile
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-fixed-top navbar-inverse " role="navigation">
			<div class="navbar-header">
			  	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="/"><img src="/static/img/logo.png" style="height:30px; position:absolute; top:10px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tecnologia Educacional</a>
			</div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
			<nav class="collapse navbar-collapse" id="navbar-collapse-1">
		  		<ul class="nav navbar-nav navbar-right">
			    {% set navigation_bar = [('/','home',"Home"),('/applications','applications',"Aplicativos"),('/reserva','reserva',"Reserva"),('http://teceducacional.tumblr.com','blog',"Blog"),('/tutorials','tutorials',"Tutoriais")]%}
			    {% for href, id, caption in navigation_bar %}
				    <li{% if id == active_page %} class="active"{% endif%}>
					    <a href="{{ href|e }}" {% if id == 'blog' %}target="_blank"{% endif %}>{{ caption|e }}</a>
					</li>
			    {% endfor %}
			    
			    </ul>
			    <ul class="nav navbar-nav navbar-right">
			    	<li> </li>
			    </ul>
			</nav><!-- /.navbar-collapse -->
		</nav>
		<div class="container" style="padding-top:80px">

			{% block content %}
			{% endblock content %}
		</div>
	</body>  
	<script src="https://code.jquery.com/jquery.js"></script>
	  <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</html>