{% extends "base.html" %}
{% set active_page='links' %}
{% block content %}
<div class="container">
	<div class="page-header">
		<h1>Links</h1><br>
		<p class="lead">Confira abaixo uma lista de <i>links</i> interessantes selecionados pela equipe da Tecnologia Educacional</p>
	</div>
	<div class="row">
	    
		<div class="span6">
			<div class="media well">
				<a class="pull-left" href="https://itunes.apple.com/us/app/360-panorama/id377342622?mt=8">
					<img class="media-object image-rounded" src="http://a4.mzstatic.com/us/r30/Purple/v4/69/5e/34/695e345b-f7f1-4eae-5bcb-ef9f362bb4d2/temp..kiyfxtsh.175x175-75.jpg" style="width:64px;height:64px">
				</a>
			    <div class="media-body">
					<h4 class="media-heading"><a href="https://itunes.apple.com/us/app/360-panorama/id377342622?mt=8" target="_blank">360 Panorama</a></h4>
					<p></p>
					<span class="label label-inverse">iPad</span>
					<span class="label label-info">Outros</span>
					
					<span class="label label-warning">Pago</span>
					
					
					<span class="label label-success">Instalado</span>
					
					<span class="label">Todos</span>
			    </div>
			</div>
		</div>
		
	
		<div class="span6">
			<div class="media well">
				<a class="pull-left" href="https://itunes.apple.com/us/app/equation/id489309507?mt=8">
					<img class="media-object image-rounded" src="http://a5.mzstatic.com/us/r1000/101/Purple/v4/d5/d2/2e/d5d22e2a-7afb-5ced-6465-9d5b56a5ee45/mzl.qplirace.175x175-75.jpg" style="width:64px;height:64px">
				</a>
			    <div class="media-body">
					<h4 class="media-heading"><a href="https://itunes.apple.com/us/app/equation/id489309507?mt=8" target="_blank">Equation</a></h4>
					<p></p>
					<span class="label label-inverse">iPad</span>
					<span class="label label-info">Didático</span>
					
					<span class="label label-success">Gratuito</span>
					
					
					<span class="label label-success">Instalado</span>
					
					<span class="label">Matemática</span>
			    </div>
			</div>
		</div>
		
		</div>
</div>
{% endblock content %}